.grid{
    display: grid;
    grid-template-columns:repeat(3,1fr);     
    grid-gap: 3px;
    grid-template-rows: repeat(3,222px);
   
    
    /* grid-auto-rows: minmax(100px, auto);
    grid-auto-flow: column;
    grid-template-rows: 150px 150px 150px; */
}
.grid div{
   
    background-color: blue;
    border: 1px solid black;
    border-radius: 5px;
    color: #ffffff;
    padding: 10px;
    font-size: 18px;
    text-align: center;
}
.grid>:nth-child(1){
    /* grid-column-start: 1;
    grid-column-end: 3; */
    grid-column: 1;
    grid-row: 1/-1;
     
    
}
.grid>:nth-child(2){
    grid-column: 2;
    grid-row: 1;
}
.grid>:nth-child(3){
    grid-column: 3;
    grid-row: 1;
}
.grid>:nth-child(6){
    grid-column: 2/-1;
}
.grid_div ul{
    display:flex;
    justify-content: space-around;
    list-style: none;
   
}